<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932007019498-bt7kb4ooq5nsmongiidu15hviua5hpvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932007019498-bt7kb4ooq5nsmongiidu15hviua5hpvf</string>
	<key>API_KEY</key>
	<string>AIzaSyAp05y5H1kL4aUi7bIUFKvo6D7VPKEXYwc</string>
	<key>GCM_SENDER_ID</key>
	<string>932007019498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizApp</string>
	<key>PROJECT_ID</key>
	<string>taskapp-f5c5d</string>
	<key>STORAGE_BUCKET</key>
	<string>taskapp-f5c5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932007019498:ios:74fb9dc523588a0fdce893</string>
</dict>
</plist>